<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>

<img src="https://images.unsplash.com/photo-1584301296152-7725d9368317?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=778&q=80" alt="Coffee and a book">
