<h1>Edit Book and Beans Outlet {{place.name}}</h1>

<form action="" method="POST">
  
  <label for="edit-name">Edit Outlet Name from <bold>{{place.name}}</bold></label>
  <input required id="edit-name" type="text" name="name" placeholder="Updated Outlet Name">

  <!--label for="select-type">Outlet Type</label>
    <select id = "select-type">
      <option value = "coffee_shop">Coffee shop</option>
      <option value = "bookstore">Bookstore</option>
    </select-->

  <p>Please update the type of outlet from <bold>{{place.type}}</bold> :</p>
  <div>
    <label for="coffee-shop">Coffee shop</label>
    <input required id="coffee-shop" type="radio" name="type" value="coffee_shop">

    <label for="bookstore">Bookstore</label>
    <input required id="bookstore" type="radio" name="type" value="bookstore">
  </div>

  <label for="update-latitude">New Latitude</label>
  <input required id="update-latitude" type="text" name="latitude" placeholder="Updated Latitude">

  <label for="update-longitude">New Longitude</label>
  <input required id="update-longitude" type="text" name="longitude" placeholder="Updated Longitude">

  <div id="view-map"></div>

  <button>Edit  Outlet</button>
</form>

<script>
    //const place = {{{json place}}};
    //console.log(place.location.coordinates);

    function initMap() {

      const $viewMap = document.getElementById('view-map');
      const map = new window.google.maps.Map($viewMap, {
        center: {lat: 38.73, lng: -9.19},
        zoom: 10
      });
      //console.log(map);
  
      const $selectLatitude = document.getElementById('update-latitude');
      const $selectLongitude = document.getElementById('update-longitude');

      console.log($selectLatitude , $selectLongitude)

      let marker;

      map.addListener('click', event => {
        const latitude = event.latLng.lat();
        const longitude = event.latLng.lng();

        $selectLatitude.value = Number(latitude).toFixed(2);
        $selectLongitude.value = Number(longitude).toFixed(2);
        
        if (marker) {
          marker.setMap(null);
        }

        marker = new window.google.maps.Marker({
          map,
          position: {
            lat: latitude,
            lng: longitude
          }
        });
      })

    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdposKCgbg8RFWcOBc8LOA12eYkWrXOE8&callback=initMap"></script>